<!DOCTYPE html>
<html lang="ko">
    {% load static %}
<head>
    <title>Show Yout Information!</title>
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/Author.css' %}">
</head>
<body>
    <div id="wrap">
        <h2 align="center"> 관리자 페이지 </h2>
        <button id="delete" type="button" onclick="location.href='../Delete/'">삭제</button>
        <button id="manage" type="button" onclick="location.href='../Message/'">메시지</button>
        <div style="overflow: scroll; width: 100%; height: 500px; padding: 10px;">
            {% for data in data.all %}
                {{data.name}}, {{data.user_id}}, {{data.identifier}}
                <br>
            {% endfor %}
        </div>
    </div>

</body>
</html> 