<!DOCTYPE html>
<html lang="ko">
    {% load static %}
<head>
    <title>Show Yout Information!</title>
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/Author.css' %}">
</head>
<body>
    <div id="wrap">
        <h2 align="center"> 관리자 페이지 </h2>
        <table center width = "650" , height = "530" border = "3">
            <button id="manage" type="button" onclick="location.href='../Message'">메시지</button>
    </table>
    </div>
    <script src="Admin.js"></script>
</body>
</html> 