<!DOCTYPE html>
<html lang="ko">
    {% load static %}
<head>
    <title>Show Yout Information!</title>
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/SignUp.css' %}">
</head>
<body>
    <div id="wrap">
        <form method="post">
            {% csrf_token %}
            <div class="title"><h1 style="font-size: 21px;">회원가입</h1></div>
                {% if message == 1 %}
                    <script type="text/javascript">
                        alert("입력하지 않은 영역이 있습니다.");
                    </script>
                {% endif %}
                {% if message == 2 %}
                    <script type="text/javascript">
                        alert("비밀번호가 일치하지 않습니다.");
                    </script>
                {% endif %}
                {% if message == 3 %}
                    <script type="text/javascript">
                        alert("중복되는 ID가 이미 존재합니다.");
                    </script>
                {% endif %}
                {% if message == 0 %}
                <script type="text/javascript">
                    alert("회원가입이 완료되었습니다. 관리자 확인 후 이용이 가능합니다.");
                    location.href='../'
                </script>
                {% endif %}
                <div class="name">
                    <input id="name" name="name" type="text" placeholder="이름을 입력해 주세요.">
                    <div id="nameError" class="error"></div>
                </div>
                <div class="name">
                    <input id="name" name="id" type="text" placeholder="아이디를 입력해 주세요.">
                    <div id="idError" class="error"></div>
                </div>
                <div class="password">
                    <input id="password" name="password" type="password" placeholder="비밀번호를 입력해 주세요.">
                    <div id="passwordError" class="error"></div>
                </div>
                <div class="passwordCheck">
                    <input id="passwordCheck" name="password2" type="password" placeholder="비밀번호를 다시 입력해 주세요.">
                    <div id="passwordCheckError" class="error"></div>
                </div>
                <div class="nickname">
                    <input id="nickname" name="nickname" type="text" placeholder="닉네임을 입력해 주세요.">
                    <div id="nickError" class="error"></div>
                </div>
                <select name="rule" style="width: 450px;">
                    <option value="none">"역할을 입력해 주세요."</option>
                    {%for data in data.all %}
                        <option value={{data.id}}>{{data.user_rule}}</option>
                    {%endfor%}
                </select>
                <div>
                    <button id="signUpButton" type="submit" onclick="signUpCheck()">가입하기</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html> 